.garis-bawah {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
}
ion-input {
  font-family: biasa;
}
ion-label {
  font-family: biasa !important;
}

ion-select-option {
  font-family: biasa !important;
}
