ion-icon {
    // font-size: 30px;
  }
  
  h3 {
    font-family: tebal;
  }
  
  p {
    font-family: biasa;
  }
  
  ion-row {
    font-family: biasa;
    font-size: 9pt;
  }
  
  .garis-bawah{
    border-bottom: 1px solid black;
  }
  